
<p>Pro obnovení hesla klikněte na odkaz níže.</p>

<p><%= link_to "Obnovit heslo", edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url'].to_s).html_safe %></p>

<p>Pokud jste o obnovu hesla nepožádali, pak tuto zprávu ignorujte.</p>
